*{
    margin: 0;
    font-family: 'Fuzzy Bubbles', cursive;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
button , i {
    cursor: pointer;
}
input{
    outline: none;
}
