button {
    cursor: pointer;
    /* background-color: var(--clr2bg); */
    background-color: bisque;
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: .6em;   
}

button:hover {
    background-color: rgb(241, 220, 198);
    /* background-color: var(--clr2); */
    color: rgb(107, 89, 89);
    transition: .3s;
}

button[disabled] {
    background-color: var(--gray1);
    color: black;
    cursor: not-allowed;
}
input:focus {
    background-color: var(--bg-clr-light);
    transition: background-color 1s;
}

input{
    outline: none;
    border: none;
    border-radius: 1em;
    padding: .5rem;
    background-color: bisque;
}

select{
    outline: none;
    border: 2px solid bisque;
    border-radius: 1em;
    padding: .2rem .5rem;
}

