::selection {
    background-color: $clr-light;
    color: $clr-main;
}

* {
    box-sizing: border-box;
}

html {
    //    font-family: OpenSans, sans-serif; 
    color: $black;
    //    line-height: 1.8;
    line-height: lh(26px);

    @media (max-width: 1300px) {
        font-size: 13px;
    }
}

body {
    margin: 0;
    background-color: $clr-light;

    // @include for-normal-layout {
    //     &.sidebar-open {
    //         overflow: hidden;
    //     }
    // }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0 0 1rem;
    line-height: lh(40px, 29px);
}

h1 {
    font-size: rem(40px);
}

h2 {
    font-size: em(16px);
    // margin: em(63px) 0;
    grid-area: title;
    color: $black;
    text-transform: uppercase;
    @include type(boldCondensed);
}

h3 {
    font-size: em(29px);
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
    max-width: 60ch;
    @include type(light);

    .main-text & {
        grid-column: 3 / 6;
        font-size: rem(22px);
        line-height: 1.384615;
        padding-inline-start: rem(30px);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 8px;
            height: 100%;
            max-height: 42px;
            background-color: $black;

            // @include for-wide-layout {
            //     width: 10px;
            // }
        }

        // @include for-wide-layout {
        //     grid-column: 3 / 5;
        //     font-size: rem(26px);
        // }
    }
}

// .btn {
//     @include btn;

//     &-dark {
//         @include btn($type: dark);
//     }

//     &-light {
//         @include btn($type: light);
//     }
// }
.btn {
    @include btn;

    &-dark {
        @include btn($type: dark)
    }
    &-light {
        @include btn($type: light)
    }
    &-link {
        @include btn($type: link )
    }
    &-icon {
        @include btn($type: icon )
    }

    cursor: pointer;
    background-color: $clr-main;
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: .6em;


    &:hover {
        background-color: rgb(241, 220, 198);
        color: rgb(107, 89, 89);
        transition: .3s;
    }

    &[disabled] {
        background-color: var(--gray1);
        color: black;
        cursor: not-allowed;
    }
}

// links
a {
    color: $black;
    cursor: pointer;
    &.active {
        background-color: $active;
        color: $black;
    }
}

mark {
    color: $clr-main;
    background-color: transparent;
}

input {
    outline: none;
    border: none;
    border-radius: 1em;
    padding: .5rem;
    background-color: bisque;

    &:focus {
        background-color: $clr-dark;
        transition: background-color 1s;
    }
}

select {
    outline: none;
    border: 2px solid bisque;
    border-radius: 1em;
    padding: .2rem .5rem;
}