
// COLOR PALETTE
$clr-light:#f9f4ee;
$clr-main:#f8d5aa;
$clr-main2:#ffe4c4;
$black: #211f1f;
$active: #fcf2eb;
$clr-light-btn: #e3dcd7;
$clr-medium-btn: #b3afad;
$clr-dark:#fab765;
$clr-darker:#f7a23a;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINT
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;